<%- include('../includes/head.ejs')%>
  </head>
  <body>
    <%- include('../includes/nav.ejs')%>
    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <section class="section">
            <div class="container">
               <div class="row">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            Sign Up 
                         </span>
                        <form action="/signup" method="POST">                      
                            <div class="input-field">
                                <input id="email" type="text" class="validate" name="email">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <input id="password" type="text" class="validate" name="password">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field">
                                <input id="confirmPassword" type="text" class="validate" name="confirmPassword">
                                <label for="confirmPassword">Confirm Password</label>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn indigo darken-4">Sign Up</button>                        
                        </form>
                    </div>
                </div>
               </div>
            </div>
        </section>
    </main>
<%- include('../includes/end.ejs')%>
