<%- include('../includes/head.ejs')%>
  </head>
  <body>
    <%- include('../includes/nav.ejs')%>
    <main>
        <% if (errorMessage) { %>
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m5">
                            <div class="card-panel red lighten-4">
                                <span class="red-text"><%= errorMessage %></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <% } %>
        <section class="section">
            <div class="container">
               <div class="row">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            Sign Up 
                         </span>
                        <form action="/signup" method="POST">                      
                            <div class="input-field">
                                <input 
                                    class="validate <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>" 
                                    id="email" 
                                    type="text"
                                    name="email" 
                                    value="<%= oldInput.email %>">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field">
                                <input 
                                    class="validate <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" 
                                    id="password" 
                                    type="password"
                                    name="password" 
                                    value="<%= oldInput.password %>">
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field">
                                <input 
                                    class="validate <%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>" 
                                    id="confirmPassword" 
                                    type="password"  
                                    name="confirmPassword" 
                                    value="<%= oldInput.confirmPassword %>">
                                <label for="confirmPassword">Confirm Password</label>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn indigo darken-4">Sign Up</button>                        
                        </form>
                    </div>
                </div>
               </div>
            </div>
        </section>
    </main>
<%- include('../includes/end.ejs')%>
