<%- include('includes/head.ejs')%>
  </head>
  <body>
    <%- include('includes/nav.ejs')%>
    <main>
        <section class="section">
            <div class="container">
                <h1>Standup</h1>
                <div class="row">
                    <!-- TAB LINKS -->
                    <ul id="tabs-swipe-demo" class="tabs">
                        <li class="tab col s3">
                            <a href="#test-swipe-1" class="active amber-text text-darken-2">Have Done</a>
                        </li>
                        <li class="tab col s3">
                            <a href="#test-swipe-2" class="amber-text text-darken-2">Working On</a>
                        </li>
                        <li class="tab col s3">
                            <a href="#test-swipe-3" class="amber-text text-darken-2">Blockers</a>
                        </li>
                    </ul>

                    <!-- TABS -->

                    <!-- Have Done Tab -->
                    <article id="test-swipe-1" class="col s12">
                        <h3>Have Done</h3> 
                        <form action="/have-done" method="POST">
                            <input placeholder="Have Done" id="have_done" type="text" class="validate" name="have_done">                         
                            <button type="submit" class="waves-effect waves-light btn amber darken-2">Add Have Done</button>                                                     
                        </form>
                        <section class="section">
                            <% if (standup.length > 0)  { %>
                                <ul class="collection">
                                    <% standup.forEach(standup => { %>
                                        <li class="collection-item">
                                            <%= standup.haveDones %>
                                        </li>
                                    <% }) %>
                                </ul>
                            <% } else { %>
                            <p>Haven't Done Much... yet</p>
                            <% } %>
                        </section>                      
                    </article>

                    <!-- Working On Tab -->
                    <article id="test-swipe-2" class="col s12">
                        <h3>Working On</h3>
                        <form action="/working-on" method="POST">
                            <input placeholder="Working On" id="working_on" type="text" class="validate" name="working_on">                    
                            <button type="submit" class="waves-effect waves-light btn amber darken-2">Add Working On</button>                                                     
                        </form>
                        <section class="section">
                            <% if (standup.length > 0) { %>
                                <ul class="collection">
                                    <% standup.forEach(standup => { %>
                                        <li class="collection-item">
                                            <%= standup.workingOns %>
                                        </li>
                                    <% }) %>
                                </ul>
                            <% } else { %>
                                <p>Not Working On Anything Now.</p>
                            <% } %>
                        </section>  
                    </article>

                    <!-- Blockers Tab-->
                    <article id="test-swipe-3" class="col s12">
                        <h3>Blockers</h3>
                        <form action="/blockers" method="POST">        
                            <input placeholder="Blockers" id="blockers" type="text" class="validate" name="blocker">
                       
                            <button type="submit" class="waves-effect waves-light btn amber darken-2">Add Blocker</button>                                                      
                        </form>
                        <section class="section">
                            <% if (standup.length > 0) { %>
                                <ul class="collection">
                                    <% standup.forEach(standup => { %>
                                        <li class="collection-item">
                                            <%= standup.blockers %>
                                        </li>
                                    <% }) %>
                                </ul>
                            <% } else { %>
                                <p>No Blockers</p>
                            <% } %>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </main>
<%- include('includes/end.ejs')%>
